:root {
  --header-height: max(8vh, 50px);
  --header-font-size: calc(.24 * var(--header-height));
  --header-text-shadow-offset: calc(.008 * var(--header-height));
  --header-gap: calc(.1 * var(--header-height));
  --header-padding: 0;
  --border-radius: calc(.08 * var(--header-height));
  --highlight: #ffffff;
  --gradient-top: #f4f4f4;
  --gradient-bottom: #eeeeee;
  --base-color: #395FC7;
  --light-color: #6688FF;
  --off-white-color: #ebefff;
  --medium-color: #2F52A8;
  --shadow-color: #1E3A7D;
  --dark-color: #0D2252;
  /* teal
  --base-color: #005f5f;
  --light-color: #008080;
  --off-white-color: #dfe8e7;
  --medium-color: #005656;
  --shadow-color: #003737;
  --dark-color: #003232;
  */
  /*--navy-blue-medium: #000080;
  --navy-blue-dark: #000060;
  --navy-blue-light: #0000aa;
  --navy-blue-highlight: #4646C1;*/
  --nav-height: calc(.5 * var(--header-height));
  --nav-border: calc(.04 * var(--nav-height));
  --nav-font-size: var(--header-font-size);
  --nav-corner: calc(.5 * var(--border-radius));
  --icon-gap: calc(.2 * var(--nav-height));
  --main-padding-vertical: calc(.4 * var(--header-height));
  --main-padding-horizontal: calc(2 * var(--main-padding-vertical));
  --section-padding: var(--main-padding-vertical);
  --section-font-size: calc(1.2 * var(--header-font-size));
  --thin-line: .1vh;
  --normal-line: calc(1.25 * var(--thin-line));
  --thick-line: calc(2 * var(--thin-line));
}
@media (max-width: 84.1vh) {/* logo width + header buttons width + gaps */
  :root {
    --header-height: 5.25vh;
    --header-font-size: calc(.235 * var(--header-height));
    --header-padding: .25vh;
    --nav-height: calc(.8 * var(--header-height));
    --nav-font-size: calc(1.2 * var(--header-font-size));
    --main-padding-vertical: calc(.2 * var(--header-height));
    --main-padding-horizontal: calc(.24 * var(--header-height));
    --section-padding: calc(1.25 * var(--main-padding-horizontal));
    --thin-line: .08vh;
  }
  .parent-ul > li:first-child:not(.no-pipe)::before {display: none;}
  #ul_nav2 > li:last-child:not(.no-pipe)::after {display: none;}
}
.styles-loaded img {opacity: 1;}
body {
  margin: 0;
  padding: 0;
  background-color: var(--off-white-color);
}
header {
  position: sticky;
  top: 0;
}
#primary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--header-padding);
  padding-bottom: var(--header-padding);
  height: var(--header-height);
  background-image: url('img/header.webp');
  background-size: cover;
}
#headerLogo {
  display: inline-block;
  width: auto;
  height: 100%;
}
#headerButtonsContainer {display: flex;}
.roundedRect {
  border-radius: var(--border-radius);
  background: linear-gradient(to bottom, var(--gradient-top), var(--gradient-bottom));
  box-shadow: inset 0 var(--header-text-shadow-offset) 0 var(--highlight), inset 0 calc(-1.5 * var(--header-text-shadow-offset)) 0 #bbbbbb;
  box-sizing: border-box;
  border: var(--thin-line) solid var(--medium-color);
}
.headerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: calc(1.6 * var(--header-height));
  height: calc(.8 * var(--header-height));
  font-family: "Roboto Flex", sans-serif;
  font-size: var(--header-font-size);
  font-weight: 600;
  color: var(--dark-color);
  text-shadow: calc(-1*var(--header-text-shadow-offset)) calc(-1*var(--header-text-shadow-offset)) 0 #cccccc;
  text-decoration: none;
  user-select: none;
  margin-right: var(--header-gap);
}
#nav-decoration {
  display: none;
  position: absolute;
  z-index: -1;
  background-color: var(--light-color);
  border-top: var(--thick-line) solid var(--shadow-color);
  border-bottom: var(--thick-line) solid var(--shadow-color);
  width: 99%;
  border-radius: var(--nav-corner) var(--nav-corner) var(--nav-corner) 0;
  transform-origin: top left;
  box-sizing: border-box;
  backface-visibility: hidden;
}
nav {
  display: flex;
  justify-content: space-between;
  border-top: var(--thick-line) solid var(--shadow-color);
  border-bottom: var(--thick-line) solid var(--shadow-color);
}
.nav1-background-solid {background-color: var(--base-color);}
.nav1-background-gradient {background: linear-gradient(to right, var(--base-color) 98.5%, var(--light-color) 100%);}
#shrinking-spacer {
  flex-shrink: 1;
  flex-basis: calc(2.2 * var(--nav-height));
  min-width: 0;
}
#growing-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center; 
}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: calc(.05 * var(--nav-height));
}
nav ul li {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: var(--nav-height);
}
.parent-ul > li {
  width: calc(1.68 * var(--header-height)); /* (84.1vh - 4*.5vh) ÷ 5 */
}
.parent-ul > li:first-child:not(.no-pipe)::before,
.parent-ul > li:not(.no-pipe):not(:has(+ .no-pipe))::after {
  content: "";
  position: absolute;
  width: var(--thin-line);
  height: 75%;
  background-color: var(--medium-color);
}
.parent-ul > li:first-child:not(.no-pipe)::before {
  left: calc(-1 * var(--thin-line)); 
}
.parent-ul > li:not(.no-pipe):not(:has(+ .no-pipe))::after {
  right: calc(-1 * var(--thin-line)); 
}
nav li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: "Roboto Flex", sans-serif;
  font-size: var(--nav-font-size);
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-shadow: 0px calc(-.06 * var(--nav-font-size)) 0 black;
}
nav li a.active {background-color: var(--shadow-color);}
nav li a.active:hover {
  background-color: var(--shadow-color);
  text-decoration: none;
  cursor: default;
}
nav li a:hover {text-decoration: underline;}
nav #icon-container {/*width: 2.2x --nav-height */
  display: flex;
  flex-shrink: 0;
  align-items: center;
  height: var(--nav-height);
  padding-left: var(--icon-gap);
}
nav #icon-container a {
  display: inline-flex;
  margin-right: var(--icon-gap);
}
nav #icon-container img {
  display: inline-block;
  width: auto;
  height: calc(.8* var(--nav-height));
  filter: drop-shadow(0px calc(-.03 * var(--nav-font-size)) 0 black);
}
.dropdown-parent {
  position: relative;
}
.dropdown-menu {
  display: none;
  position: absolute;
  width: fit-content;
  background: var(--medium-color);
  top: 100%;
  left: 0;
}
.dropdown-menu li {
  border-top: var(--thick-line) solid var(--shadow-color);
}
.dropdown-menu li a {
  position: relative;
  justify-content: left;
  padding-left: var(--header-font-size);
  padding-right: calc(.5 * var(--header-font-size));
}
.dropdown-menu li a::before {
  position: absolute;
  content: "\2022";
  margin-top: var(--thick-line);
  left: calc(.35 * var(--header-font-size));
}
.dropdown-parent:hover .dropdown-menu {display: block;}
#nav-shared2 {
  display: none;
  justify-content: center;
  margin-top: calc(.03 * var(--header-height));
  margin-left: calc(.01 * var(--header-height));
  border-left: calc(1.25 * var(--thick-line)) solid var(--shadow-color);
  border-radius: var(--nav-corner) 0 0 var(--nav-corner);
  background: linear-gradient(to right, var(--light-color) 0%, var(--base-color) 2%);
}
main {
  padding: var(--main-padding-vertical) var(--main-padding-horizontal);
}
main > *:not(:last-child) {
  margin-bottom: var(--main-padding-vertical);
}
section {
  background-color: #fefefe;
  padding-top: calc(.5 * var(--section-padding));
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
  padding-bottom: var(--section-padding);
  box-shadow: 0 0 1vh rgba(0, 0, 0, 0.25);
  font-family: "Roboto Flex", sans-serif;
  font-size: var(--section-font-size);
}
h2 {
  font-family: Verdana, sans-serif;
  font-size: calc(.4 * var(--header-height));
  margin: 0;
}
h4 {
  font-family: Verdana, sans-serif;
  font-size: calc(.27 * var(--header-height));
  margin: 0;
}
hr {
  border: 0;
  height: var(--normal-line);
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin-top: 0;
}
p {
  margin: 0;
}
address {
  font-style: normal;
}
.contact-label {
  font-weight: bold;
}